.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: white;
  }
  
  .login-form {
    background-color: #004080;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 300px;
    text-align: center;
  }
  
  .login-form h1 {
    margin-bottom: 20px;
  }
  
  .login-form form div {
    margin-bottom: 15px;
  }
  
  .login-form label {
    display: block;
    margin-bottom: 5px;
  }
  
  .login-form input {
    width: 90%;
    padding: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
  }
  
  .login-form button {
    width: 100%;
    padding: 10px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #0056b3;
  }
  
  .toggle-form {
    margin-top: 10px;
    cursor: pointer;
    text-decoration: underline;
  }
  