/*----Buttons----*/
.button-date {
    background-color: rgb(76, 144, 228);
    border: none;
    padding: 8px 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.button-date:hover {
    background-color: rgb(35, 103, 185);
}

.button-ghost {
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
    padding: 10px 20px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

/*----Inputs----*/
.input {
    width: 10%;
    padding: 8px;
    margin: 5px 0 15px 0;
    box-sizing: border-box;
    border: 2px solid #bbbbbb;
    border-radius: 4px;
    font-size: 16px;
}