.edit-race-results-container {
    text-align: center;
    color: white;
  }
  
  .race-results-table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
  }
  
  .race-results-table th, .race-results-table td {
    padding: 8px;
    border: 1px solid white;
    text-align: center;
    white-space: nowrap;
  }
  
  .compact-input, .compact-select {
    width: 80px;
    text-align: center;
  }
  
  .cancel-btn {
    background-color: red;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
  }

  .delete-btn {
    background-color: rgb(200, 50, 50);
    color: white;
    border: none;
    padding: 5px 10px;
    margin-left: 5px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .delete-btn:hover {
    background-color: rgb(180, 30, 30);
  }
  
  