.layout-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Topbar neemt 60px */
.content-wrapper {
  display: flex;
  flex: 1;
  margin-top: 60px; /* hoogte van topbar */
  padding: 0;
}

/* Sidebar */
.sidebar {
  width: 100px;
  min-width: 100px;
  height: calc(100vh - 60px);
  position: fixed;
  left: 0;
  top: 60px;
}

/* Content */
.content-container {
  flex: 1;
  margin-left: 100px; /* exact gelijk aan sidebar width */
  height: calc(100vh - 60px);
  overflow: auto;
}
