.sidebar {
    position: fixed; /* Zorg dat de sidebar aan de linkerkant blijft plakken */
    top: 0;
    left: 0; /* Zet de zijbalk tegen de linker rand */
    width: 10px;
    height: 100%; /* Laat de zijbalk de volledige hoogte van het scherm innemen */
    background-color: #0040805f; /* Donkerblauw */
    color: #ffffff;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* Voeg een subtiele schaduw toe */
    z-index: 1000; /* Zorg dat de zijbalk altijd bovenaan blijft */
    transition: color 0.2s;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.season-item {
    position: relative; /* Maak de season-label de parent voor absolute positioning */
    margin: 10px 0;
}

.season-label {
    font-weight: bold;
    cursor: pointer;
    
}

.season-item:hover .season-label{
    color: #4caeff; /* Lichtere blauwe kleur bij hover */
    text-decoration: underline;
    font-weight: bold;
    transition: color 0.2s;
}

.division-dropdown {
    display: none; /* Verberg divisies standaard */
    position: absolute;
    left: 100%; /* Plaats de divisies rechts van het seizoen */
    top: 0;
    background-color: #003366; /* Donkerder blauw */
    padding: 10px;
    border-radius: 5px;
    list-style-type: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Zorg ervoor dat het boven andere elementen blijft */
}

.division-dropdown li {
    margin: 5px 0;
}

.season-item:hover .division-dropdown {
    display: block; /* Toon divisies bij hover */
}

/* Highlighted season */
.season-item--raced .season-label {
  color: #91ff95; /* or another highlight color */
  font-weight: bold;
}

/* Hide sidebar on small screens */
@media (max-width: 768px) {  /* you can adjust 768px to your liking */
  .sidebar {
    display: none;
  }
}

