.result-table {
    position: sticky;
    top: 0;
    background-color: #0b4e8b; /* Achtergrondkleur vastgezette rijen */
    z-index: 2;
  }

  /* Stijl de links binnen de tabel */
.driver-link {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
  }
  
  .driver-link:hover {
    color: #4caeff;
    text-decoration: none;
    font-weight: bold;
  }

  .video-player {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 400px; /* Adjust width as needed */
    height: 180px; /* Adjust height as needed */
    z-index: 1000; /* Ensures it stays on top */
  }